In [1]:
# list     0             1        2           3
data = ["Sheza","Shams-ul-Islam",31,['BE', 'Cache2', 'AI' ]]

data[0]

'Sheza'

In [2]:
data[3]

['BE', 'Cache2', 'AI']

In [5]:
data[0] = "Hamnah"

In [6]:
data

['Hamnah', 'Shams-ul-Islam', 31, ['BE', 'Cache2', 'AI']]

In [19]:
data = {
    'Name' : 'Sheza Shams',
    'Fathers_Name' : 'Shasm-ul-Islam',
    'Age' : 30 ,
    'Education' : 'BE,Cache 2,AI, KARAS g12C',
    '0' : 'Pakistan' 
}

print(data)

{'Name': 'Sheza Shams', 'Fathers_Name': 'Shasm-ul-Islam', 'Age': 30, 'Education': 'BE,Cache 2,AI, KARAS g12C', '0': 'Pakistan'}

# how to access value from dictionary

In [32]:
data = {
    'Name' : 'Sheza Shams',
    'Fathers_Name' : 'Shams-ul-Islam',
    'Age' : 30 ,
    'Education' : 'BE,Cache 2,AI, KARAS g12C',
    '0' : 'Pakistan' 
}

print(data['Name'])
print(data['Fathers_Name'])
print(data['0']) #---------> this zero refers to key not index
type(data)
print(type(data))

Sheza Shams
Shams-ul-Islam
Pakistan
<class 'dict'>

In [34]:
data = {
    'name' : ['Sheza', 'Hamnah', 'Ayaan'] ,
    'fname' : ['Shams', 'Arsalan', 'Arsalan'] ,
    'Age' : [31,5,3]
}

import pandas as pd
df = pd.DataFrame(data)
df

     name    fname  Age
0   Sheza    Shams   31
1  Hamnah  Arsalan    5
2   Ayaan  Arsalan    3

#how we can create list

In [41]:
dic1 = {}

dic1['Name']
print(dict1)

KeyError: 'Name'

In [40]:
dic1 = {}
dic1['Name'] = 'Sheza Shams' 
print(dic1)

{'Name': 'Sheza Shams'}

In [45]:
dic1 = {}
dic1['Name'] = 'Sheza Shams' 
dic1['Age'] = 31
dic1['Course'] = 'Python'
print(dic1)

{'Name': 'Sheza Shams', 'Age': 31, 'Course': 'Python'}

In [46]:
data = {}

In [59]:
["Name"] = "Sheza Shams"
data["FName"] = "Shams-ul-Islam"
data["Age"] = 31
data["Name"] = data["Name"] + " " + "Python Student"
print(data)

{'Name': 'Sheza Shams Python Student', 'Fathers_Name': 'Shams-ul-Islam', 'Age': 31, 'Fathers Name': 'Shams-ul-Islam', 'FName': 'Shams-ul-Islam'}

In [61]:
data = {}
data["Name"] = "Sheza Shams"
data["FName"] = "Shams-ul-Islam"
data["Age"] = 31
data["Name"] = data["Name"] + " " + "Python Student"
print(data)

{'Name': 'Sheza Shams Python Student', 'FName': 'Shams-ul-Islam', 'Age': 31}

In [62]:
data.clear()

In [63]:
data #clear all key values

{}

In [64]:
data = {}
data["Name"] = "Sheza Shams"
data["FName"] = "Shams-ul-Islam"
data["Age"] = 31
data["Name"] = data["Name"] + " " + "Python Student"
print(data)
del data()
print(data) # error is shwoing because del function permenantly deletes data thats why if something is deleted how can it print

SyntaxError: cannot delete function call (2634344746.py, line 7)

In [75]:
data = {
    'Name' : 'Sheza Shams',
    'Fname' : 'Shams-ul-Islam',
    'Age' : 31
    
}
data
data1 = data # shallow copy
data2 = data
data3 = data

In [76]:
print(data1)
print(data2)
print(data3)

{'Name': 'Sheza Shams', 'Fname': 'Shams-ul-Islam', 'Age': 31}
{'Name': 'Sheza Shams', 'Fname': 'Shams-ul-Islam', 'Age': 31}
{'Name': 'Sheza Shams', 'Fname': 'Shams-ul-Islam', 'Age': 31}

In [78]:
data3['Name'] = "hamnah"

print(data1)
print(data2)
print(data3)

{'Name': 'hamnah', 'Fname': 'Shams-ul-Islam', 'Age': 31}
{'Name': 'hamnah', 'Fname': 'Shams-ul-Islam', 'Age': 31}
{'Name': 'hamnah', 'Fname': 'Shams-ul-Islam', 'Age': 31}

In [79]:
data = {
    'Name' : 'Sheza Shams',
    'Fname' : 'Shams-ul-Islam',
    'Age' : 31
    
}
data
data1 = data.copy()# deep copy
data2 = data.copy()
data3 = data.copy()

data3['Name'] = "hamnah"

print(data1)
print(data2)
print(data3)

{'Name': 'Sheza Shams', 'Fname': 'Shams-ul-Islam', 'Age': 31}
{'Name': 'Sheza Shams', 'Fname': 'Shams-ul-Islam', 'Age': 31}
{'Name': 'hamnah', 'Fname': 'Shams-ul-Islam', 'Age': 31}

#create dictionary with list of keys

In [80]:
keys = ['name','fname','course','education','age','contact','timing']
data = dict.fromkeys(keys)
data

{'name': None,
 'fname': None,
 'course': None,
 'education': None,
 'age': None,
 'contact': None,
 'timing': None}

In [84]:
data = dict.fromkeys(keys,'Not Available')
data

{'name': 'Not Available',
 'fname': 'Not Available',
 'course': 'Not Available',
 'education': 'Not Available',
 'age': 'Not Available',
 'contact': 'Not Available',
 'timing': 'Not Available'}

In [87]:
data = {
    'Name' : 'Sheza Shams',
    'Fathers_Name' : 'Shams-ul-Islam',
    'Age' : 30 ,
    'Education' : 'BE,Cache 2,AI, KARAS g12C',
    '0' : 'Pakistan' 
}
print(data['cnic']) # overhere key error thats why not printing others thats the problem
print('cnic')
print('Hello World')

KeyError: 'cnic'

In [92]:
data = {
    'Name' : 'Sheza Shams',
    'Fathers_Name' : 'Shams-ul-Islam',
    'Age' : 30 ,
    'Education' : 'BE,Cache 2,AI, KARAS g12C',
    '0' : 'Pakistan' 
}
print(data.get('Name'))
print(data.get('CNIC','NOT available'))

Sheza Shams
NOT available

In [ ]:
# item, key, value

In [94]:
data = {
    'Name' : 'Sheza Shams',
    'Fathers_Name' : 'Shams-ul-Islam',
    'Age' : 30 ,
    'Education' : 'BE,Cache 2,AI, KARAS g12C',
    '0' : 'Pakistan' 
}

data.items() #transform every key value into tuple

dict_items([('Name', 'Sheza Shams'), ('Fathers_Name', 'Shams-ul-Islam'), ('Age', 30), ('Education', 'BE,Cache 2,AI, KARAS g12C'), ('0', 'Pakistan')])

In [95]:
data.keys()

dict_keys(['Name', 'Fathers_Name', 'Age', 'Education', '0'])

In [96]:
data.values()

dict_values(['Sheza Shams', 'Shams-ul-Islam', 30, 'BE,Cache 2,AI, KARAS g12C', 'Pakistan'])

In [97]:
l1 = ['ABC','XYZ', 123]
l1

['ABC', 'XYZ', 123]

In [100]:
'hjhjh'in l1

False

In [102]:
for abc in l1:
    print(abc)

ABC
XYZ
123

In [103]:
for x in l1:
    print(x) # overhere x is variable defined by me, local variable scope

ABC
XYZ
123

In [104]:
data = {
    'Name' : 'Sheza Shams',
    'Fathers_Name' : 'Shams-ul-Islam',
    'Age' : 30 ,
    'Education' : 'BE,Cache 2,AI, KARAS g12C',
    '0' : 'Pakistan' 
}

for abc in data:
    print(abc) # only print keys

Name
Fathers_Name
Age
Education
0

In [105]:
data = {
    'Name' : 'Sheza Shams',
    'Fathers_Name' : 'Shams-ul-Islam',
    'Age' : 30 ,
    'Education' : 'BE,Cache 2,AI, KARAS g12C',
    '0' : 'Pakistan' 
}

for abc in data.items(): # now both keys and values are coming
    print(abc)

('Name', 'Sheza Shams')
('Fathers_Name', 'Shams-ul-Islam')
('Age', 30)
('Education', 'BE,Cache 2,AI, KARAS g12C')
('0', 'Pakistan')

In [106]:
a1 , a2 = (100, 500)
print(a1)
print(a2) # unzip process

100
500

In [111]:
data = {
    'Name' : 'Sheza Shams',
    'Fathers_Name' : 'Shams-ul-Islam',
    'Age' : 30 ,
    'Education' : 'BE,Cache 2,AI, KARAS g12C',
    '0' : 'Pakistan' 
}

for k,v in data.items():
    print('keys is:',k,'values is:',v)

keys is: Name values is: Sheza Shams
keys is: Fathers_Name values is: Shams-ul-Islam
keys is: Age values is: 30
keys is: Education values is: BE,Cache 2,AI, KARAS g12C
keys is: 0 values is: Pakistan

In [112]:
for k,v in data.items():
    print(k,v)

Name Sheza Shams
Fathers_Name Shams-ul-Islam
Age 30
Education BE,Cache 2,AI, KARAS g12C
0 Pakistan

In [113]:
for i in data.keys():
    print(i)

Name
Fathers_Name
Age
Education
0

In [114]:
for i in data.values():
    print(i)

Sheza Shams
Shams-ul-Islam
30
BE,Cache 2,AI, KARAS g12C
Pakistan

In [115]:
"Pakistan zindabad"
for i in "Pakistan zindabad":
    print(i)

P
a
k
i
s
t
a
n

z
i
n
d
a
b
a
d

In [116]:
list("Pakistan zindabad")

['P',
 'a',
 'k',
 'i',
 's',
 't',
 'a',
 'n',
 ' ',
 'z',
 'i',
 'n',
 'd',
 'a',
 'b',
 'a',
 'd']

In [118]:
data = {
    'Name' : 'Sheza Shams',
    'Fname' : 'Shams-ul-Islam',
    'Age' : 31
    
}
del data['Name'] # non return function
data

{'Fname': 'Shams-ul-Islam', 'Age': 31}

# RETURN NON RETURN FUNCTION

In [119]:
a = print("Pakistan") # unable to store value in variable that is non return function
print(a)

Pakistan
None

In [120]:
a = len("Pakistan")
print(a) # length to store in 'a' variable that is retuen function

8

# pop delete key:value pair and it can return

In [121]:
data = {
    'Name' : 'Sheza Shams',
    'Fname' : 'Shams-ul-Islam',
    'Age' : 31
    
}
data.pop('Name')
data

{'Fname': 'Shams-ul-Islam', 'Age': 31}

In [123]:
data = {
    'Name' : 'Sheza Shams',
    'Fname' : 'Shams-ul-Islam',
    'Age' : 31
    
}
a = data.pop('Name')
print(data)
print("Deleted",a)

{'Fname': 'Shams-ul-Islam', 'Age': 31}
Deleted Sheza Shams

In [131]:
completed_task = []

data = {
    'Name' : 'Sheza Shams',
    'Fname' : 'Shams-ul-Islam',
    'Age' : 31
}

a = data.pop('Name')
completed_task.append(a)

b = data.pop('Fname')
completed_task.append(b)

print(completed_task)
print(data)

['Sheza Shams', 'Shams-ul-Islam']
{'Age': 31}

In [135]:


data = {
    'Name' : 'Sheza Shams',
    'Fname' : 'Shams-ul-Islam',
    'Age' : 31
}

print(data)
a= data.popitem() # return value only delete last key:value pair
print(data)

{'Name': 'Sheza Shams', 'Fname': 'Shams-ul-Islam', 'Age': 31}
{'Name': 'Sheza Shams', 'Fname': 'Shams-ul-Islam'}